# Deployment wallet - this is just for reference (optional)
MY_ADDRESS=0xE9DD03b619348526D503D56c04cE5d3aAe98fa4D
# Private key of the deployment wallet
MY_PRIVATE_KEY=0xf72e1666cfc622585a95160be1d653add7f856531d1c6e75ddf1dddd47d8122f
# Paid URLs of the blockchain networks if you want to use Ethereum (optional)
ETHEREUM_SEPOLIA_URL=sepolia.infura.io
# Instruction for hardhat to use the gas reporter when running tests
REPORT_GAS="true npx hardhat test"
# Coinmarketcap API key - this is used to calculate the transaction costs in USD when running tests
COINMARKETCAP_API=
# Block explorer API keys - this is used to verify the contract source code on the block explorer
ETHERSCAN_API_KEY=EBKBK6TBJD86THRN5URE8TF29VMCS93KWH
CRONOS_EXPLORER_MAINNET_API_KEY=WRR3IC8MV4AQIX53NF1A7XXFWZFNA26DY7
CRONOS_EXPLORER_TESTNET_API_KEY=
# As Cronoscan is being replaced by Cronos Explorer, the old settings are commented out.
# CRONOSCAN_API_KEY=

